@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,800;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: Mulish;
}

header {
    background: #FFF;
    padding: 52px 130px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}


.travel {
    color: #FF5400;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 44px;
    font-size: 1.1rem;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
    color: #424247;
}

.ok {
    color: #FF5400;
}

.container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../resources/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    height: 500px;
    background-repeat: no-repeat;
    max-width: 1170px;
    margin: 50px auto;
    padding: 100px 0;
}

.text h1 {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.btn {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    padding-top: 48px;
}

.btm {
    border-radius: 8px;
    background: #FF5400;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 400px;
    line-height: normal;
}

.first {
    background: #FFF;
    width: 1200px;
    height: 600px;
    padding: 135px;

}

.our {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.tours {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    /* 162.5% */
}

.more {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    color: #FFFFFF;
}

.popular {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 135px;

}

.desti {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.seven {
    flex-wrap: wrap;
    display: flex;



}

.maldives {
    padding-left: 100px;

}

.america {
    padding-left: 100px;
}

.bangla {
    padding-left: 100px;
}

.middle {
    width: 1200px;
    height: 600px;
}

.news {
    display: flex;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: 100px;
    padding-left: 135px;
}

.letter {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.id {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.subs {
    color: #FFF;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    cursor: pointer;

}

.hlw {
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 135px;

}

.hero {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.trav {
    color: #FF5400;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.foot {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.icon {
    text-align: center;
    padding: 10px 0;
   
}

.line {
    width: 1320px;
    height: 1px;
    background: rgba(19, 19, 24, 0.05);
}
.copy{
    text-align: center;
}